*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    
}


.banner{
    width: 100%;
    height: 120vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(194, 238, 240, 0.25),rgba(4, 87, 15, 0.35)),url(/img/somoto.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/*.banner section{
    height: 0vh;
    background-attachment: fixed;
    background-position: center;
}*/
.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid  2px white;
    top: 0;
    float: var(--bs-cyan);
    position: sticky;
   
}

.navbar .logo{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 40px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:  0 40 px;
    position: relative;
    transition: 0.5s;
    

}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 20px;
    padding-right: 30px;
    font-size: 20px ;
    font-weight: bold;
    height: 80px;
    width: 120px;
    padding: 15px;
    border-radius: 5px;
    
}


.navbar ul li a:hover{
    background-color: black;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--bs-teal);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    background-color: #000;
    width: 100%;

}

.content{
    margin-top: 80px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px  auto;
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    
}
 
button{
    
    width: 220px;
    padding: 15px 0 ;
    text-align: center;
    margin: 20px 10px ;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid  #F39C12;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #148F77 ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover{
    
    background-color: #000;
}
button:hover span{
    border: none;

}
aside{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: #000;
    color: white;
    font-size: 25px;
    display: flex;
    border: solid white 2px;
    
}

aside .redes-sociales{
    line-height: 70px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

aside i{
    font-size: 20px;
    margin: 0 10px ;
    align-self: center;
    margin-top: 60px;
    padding-left: 20px;
}


   
    