*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    
}


.banner{
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(194, 238, 240, 0.25),rgba(4, 87, 15, 0.35)),url(/img/somoto.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid  2px white;
    top: 0;
    float: var(--bs-cyan);
    position: sticky;
   
}

.logo{
    width: 60px;
    border-radius: 50px;
    margin-left: 40px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:  0 40 px;
    position: relative;
    transition: 0.5s;
    

}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 20px;
    padding-right: 30px;
    font-size: 20px ;
    font-weight: bold;
    
}


.navbar ul li a :hover{
    background-color: white;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--bs-teal);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;

}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px  auto;
    font-weight: 100;
    line-height: 25px;

}
 
button{
    width: 220px;
    padding: 15px 0 ;
    text-align: center;
    margin: 20px 10px ;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid  #07836c ;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #148F77 ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button :hover{
    width: 100%;
}
button:hover span{
    border: none;

}
footer{
    width: 100%;
    height: 120px;
    background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
}

.fa {
    padding: 0;
    margin-left: 50px;
    color: white;
}

    footer  {
    display: inline-block;
    color: white;
    margin:10px 0;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
}

    .cont{
        width: 100%;

    }

#ul{
    margin: 20px;
    text-align: center;
    border: 1px solid #148F77  ;
    width: 100%;
    height: 80px;
    
}
    ul .contactos{
    display: inline-block;
    color: white;
    margin:20px 20px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px; 
    }